.textEditorToolBar {
    display: flex;
    box-shadow: 1px 1px 5px #555 inset;
    padding: 4px 4px 4px 4px;
    align-items: stretch;
    justify-items: baseline;
}

.editorTarget {
    display: block;
    box-shadow: 1px 1px 5px #555 inset;
    padding: 4px 4px 4px 4px;
}

#insertList, #insertCheckList, #listTypeSelector {
    display: block;
    font-size: 7px;
    height: 100%;
}