.textEditorToolBar {
    display: flex;
    box-shadow: 1px 1px 5px #555 inset;
    padding: 4px 4px 4px 4px;
    align-items: stretch;
    justify-items: baseline;
}

.editorTarget {
    display: block;
    box-shadow: 1px 1px 5px #555 inset;
    padding: 4px 4px 4px 4px;
}

#insertList, #insertCheckList, #listTypeSelector {
    display: flex;
    flex-direction: column;
    font-size: 8px;
    justify-items: stretch;
    align-items: stretch;
    height: 30px;
    width:  30px;
    appearance: none;
    text-align: center;
    border: 1px solid black;
}
