body {
    font-family: "Times New Roman", Times, serif;
}

#ArrangeableListRender {
    display: flex;
    flex-direction: column;
}

.listItemButtons {
    display: flex;
    flex: 0.25;

    justify-content: right;
}

.listButton {
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border: 1px solid black;
    cursor: default;
    user-select: none;
    position: inherit;
}

.itemDeleteDialog {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
}

.itemDeleteDialogCenter {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    text-align: center;
    background-color: white;
    opacity: 100%;
}

.itemMovementTarget {
    border: 1px solid black;
    cursor: grabbing;
    padding-top: 5px;
    padding-bottom: 5px;
}

.toDoItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 5px;
    cursor: grab;
    min-height: 25px;
}

.listItemHandle {
    flex: 0.1;
    max-width: 20px;
    max-height: 20px;
    background-color: darkslategrey;
    border: 1px solid black;
}

.listTextInput {
    white-space: nowrap;
    overflow: hidden;
}

.listTextInput:focus {
    outline: 1px solid grey;
    box-shadow: 1px 1px 2px black inset;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    z-index: 100;
}

.completeCheckBox {
    flex: 0.1;
}

.nameInputField {
    flex: 1;
}

.descriptionInputField {
    flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 20px;
}

.descriptionInputField:focus {
    flex: 2;
    text-overflow: unset;
    max-height: unset;
    white-space: normal;
}

@media (max-width: 600px) {
    .descriptionInputField {
        display: none;
    }
}
