body {
    font-family: "Times New Roman", Times, serif;
}

#ArrangeableListRender {
    display: flex;
    flex-direction: column;
}

.itemDeleteDialog {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
}

.itemDeleteDialogCenter {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    text-align: center;
    background-color: white;
    opacity: 100%;
}

.completeCheckBox {
    flex: 0.1;
}

.nameInputField {
    flex: 1;
}

.dateTimeInputField {
    font-family: unset;
    flex: 0.5;
}

.descriptionInputField {
    flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 20px;
}

@media (max-width: 600px) {
    .descriptionInputField {
        display: none;
    }
}

.descriptionInputField:focus {
    flex: 2;
    text-overflow: unset;
    max-height: unset;
    white-space: normal;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    width: 0px;
    height: 0px;
    color: transparent;
    background: transparent;
}