.arrangeableItemMovementTarget {
    border: 1px solid black;
    cursor: grabbing;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 1.25em;
    animation: 100ms cubic-bezier(0.35, 0.21, 0.7, -0.07) 0s growItem;
}

@keyframes growItem {
    from {
        height: 0;
    }

    to {
        height: 1.25em;
    }
}

.arrangeableListButton {
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border: 1px solid black;
    cursor: default;
    user-select: none;
    position: inherit;
}

.arrangeableListItem {
    background-color: #f2fcf9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 5px;
    cursor: grab;
    min-height: 25px;
}

.arrangeableListItemAlt {
    background-color: #ebf5f2;
}

.arrangeableListItemButtons {
    display: flex;
    flex: 0.25;
    justify-content: right;
}

.arrangeableListItemHandle {
    flex: 0.1;
    max-width: 20px;
    max-height: 20px;
    background-color: darkslategrey;
    border: 1px solid black;
}

.arrangeableListLabel {
    background-color: #f0f0f0
}

.arrangeableListLabelHandle {
    background-color: unset;
    border: unset;
}

.arrangeableListTextInput {
    white-space: nowrap;
    overflow: hidden;
}

.arrangeableListTextInput:focus {
    outline: 1px solid grey;
    box-shadow: 1px 1px 2px black inset;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    z-index: 100;
    max-height: 75vh;
    overflow: auto;
}